## Create case class to represent Entity

In [12]:
case class Employee(sno: Int, name: String, city: String, salary: Int, department: String)

defined class Employee

## Read csv file and add all records in the list

In [13]:
import scala.io.Source

val file = "data.csv"
val delimeter = ","
val employees : List[Employee] = Source.fromFile(file).getLines().drop(1) // skip header
                                  .toList.map{ line =>
                                  val fields = line.split(delimeter).map(_.trim)
                                  Employee(fields(0).toInt, fields(1), fields(2), fields(3).toInt, fields(4))
                                  }

import scala.io.Source
file: String = "data.csv"
delimeter: String = ","
employees: List[Employee] = List(
  Employee(
    sno = 1,
    name = "John Doe",
    city = "New York",
    salary = 60000,
    department = "Marketing"
  ),
  Employee(
    sno = 2,
    name = "Jane Smith",
    city = "Los Angeles",
    salary = 55000,
    department = "Finance"
  ),
  Employee(
    sno = 3,
    name = "Michael Johnson",
    city = "Chicago",
    salary = 62000,
    department = "HR"
  ),
  Employee(
    sno = 4,
    name = "Sarah Lee",
    city = "San Francisco",
    salary = 58000,
    department = "Engineering"
  ),
  Employee(
    sno = 5,
    name = "David Brown",
    city = "Houston",
    salary = 63000,
    department = "Operations"
  ),
  Employee(
    sno = 6,
    name = "Emily Taylor",
...

## Perform filter operations based on salary and departments

In [14]:
val filteredEmployeeList = employees.filter(emp => emp.salary > 50000 && (emp.department == "Sales" || emp.department == "Marketing"))
val employeeList = employees.filter(emp => emp.city == "Miami")

filteredEmployeeList: List[Employee] = List(
  Employee(
    sno = 1,
    name = "John Doe",
    city = "New York",
    salary = 60000,
    department = "Marketing"
  ),
  Employee(
    sno = 6,
    name = "Emily Taylor",
    city = "Miami",
    salary = 54000,
    department = "Sales"
  ),
  Employee(
    sno = 7,
    name = "James Wilson",
    city = "Dallas",
    salary = 59000,
    department = "Marketing"
  ),
  Employee(
    sno = 12,
    name = "Sophia Hernandez",
    city = "Phoenix",
    salary = 60000,
    department = "Sales"
  ),
  Employee(
    sno = 13,
    name = "Alexander Lopez",
    city = "Philadelphia",
    salary = 56000,
    department = "Marketing"
  ),
  Employee(
    sno = 18,
    name = "Ava Ramirez",
...
employeeList: List[Employee] = List(
  Employee(
    sno = 6,
    name = "Emily Taylor",
    city = "Miami",
    salary = 54000,
    department = "Sales"
  ),
  Employee(
    sno = 40,
    name = "Layla Cooper",
    city = "Miami",
    salary = 56000,
    department = "Engineering"
  )
)

## Perform map operations to produce formatted report

In [15]:
val report1 = filteredEmployeeList.map(emp => s"${emp.name} from ${emp.city} earns ${emp.salary}")
println("Sales and Marketing department employess with earning greater than 50000: ")
report1.foreach(emp => println(emp))
println()
val report2 = employeeList.map(emp => s"${emp.name} from ${emp.city} earns ${emp.salary}")
println("List of employees from Miami:")
report2.foreach(emp => println(emp))

Sales and Marketing department employess with earning greater than 50000:
John Doe from New York earns 60000
Emily Taylor from Miami earns 54000
James Wilson from Dallas earns 59000
Sophia Hernandez from Phoenix earns 60000
Alexander Lopez from Philadelphia earns 56000
Ava Ramirez from San Diego earns 64000
Logan Sanders from Washington earns 57000
Lincoln Taylor from Indianapolis earns 62000
Sofia Cooper from Louisville earns 54000
Carter Hughes from Oklahoma City earns 61000
Aria Nelson from Tucson earns 57000
Leah Watson from Atlanta earns 62000
Riley Brooks from Colorado Springs earns 54000
Penelope Coleman from Oakland earns 58000
Lincoln Powell from Minneapolis earns 65000
Ellie Howard from Anaheim earns 62000
Liam Wright from Pittsburgh earns 56000

List of employees from Miami:
Emily Taylor from Miami earns 54000
Layla Cooper from Miami earns 56000

report1: List[String] = List(
  "John Doe from New York earns 60000",
  "Emily Taylor from Miami earns 54000",
  "James Wilson from Dallas earns 59000",
  "Sophia Hernandez from Phoenix earns 60000",
  "Alexander Lopez from Philadelphia earns 56000",
  "Ava Ramirez from San Diego earns 64000",
  "Logan Sanders from Washington earns 57000",
  "Lincoln Taylor from Indianapolis earns 62000",
  "Sofia Cooper from Louisville earns 54000",
  "Carter Hughes from Oklahoma City earns 61000",
  "Aria Nelson from Tucson earns 57000",
  "Leah Watson from Atlanta earns 62000",
  "Riley Brooks from Colorado Springs earns 54000",
  "Penelope Coleman from Oakland earns 58000",
  "Lincoln Powell from Minneapolis earns 65000",
  "Ellie Howard from Anaheim earns 62000",
  "Liam Wright from Pittsburgh earns 56000"
)
report2: List[String] = List(
  "Emily Taylor from Miami earns 54000",
  "Layla Cooper from Miami earns 56000"
)

## Perform reduce operation to find total Salary, average Salary, number of employees department wise

In [19]:
val totalSalary = employees.map(_.salary).sum
val averageSalary = totalSalary.toDouble / employees.length
println(s"Total Salary of all employees: $totalSalary")
println(s"Average Salary of all employees: $averageSalary")

println("Department wise summary:")

employees.groupBy(_.department).map { case (dept, emps) =>
val noOfEmployees = emps.length
val totalDeptSalary = emps.map(_.salary).sum
val avgDeptSalary = totalDeptSalary.toDouble / noOfEmployees
  println(s"Department: $dept has $noOfEmployees number of employees with Total Salary: $totalDeptSalary and Average Salary: $avgDeptSalary")
}

Total Salary of all employees: 2943000
Average Salary of all employees: 58860.0
Department wise summary:
Department: Engineering has 8 number of employees with Total Salary: 494000 and Average Salary: 61750.0
Department: Operations has 8 number of employees with Total Salary: 444000 and Average Salary: 55500.0
Department: Sales has 8 number of employees with Total Salary: 483000 and Average Salary: 60375.0
Department: Marketing has 9 number of employees with Total Salary: 518000 and Average Salary: 57555.555555555555
Department: HR has 8 number of employees with Total Salary: 462000 and Average Salary: 57750.0
Department: Finance has 9 number of employees with Total Salary: 542000 and Average Salary: 60222.22222222222

totalSalary: Int = 2943000
averageSalary: Double = 58860.0
res19_5: collection.immutable.Iterable[Unit] = List((), (), (), (), (), ())